@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}



@await Component.InvokeAsync("_ProductListBreadCrumbComponentPartial")


<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    @await Component.InvokeAsync("_ProductListPriceFilterComponentPartial")
                    @await Component.InvokeAsync("_ProductListColorFilterComponentPartial")
                    @await Component.InvokeAsync("_ProductListSizeFilterComponentPartial")
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="~/ogani-master/img/latest-product/lp-1.jpg" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Crab Pool Security</h6>
                                            <span>$30.00</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                @await Component.InvokeAsync("_ProductListSortByComponentPartial")
                @await Component.InvokeAsync("_ProductListResultsComponentPartial", new {id = ViewBag.i})
                @await Component.InvokeAsync("_ProductListSaleOffComponentPartial")



                <div class="product__pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>