@model List<ResultCommentDto>


@{
    var count = Model?.Count() ?? 0;
}
<div class="tab-pane" id="tabs-3" role="tabpanel">
    <div class="row">

        <div class="col-md-6">
            <div class="product__details__tab__desc">
                <h4>Products Reviews</h4>
                <h6 class="mt-4">@count review"</h6>
                @foreach (var item in Model)
                {
                    <div class="media mb-4">
                        <img src="@item.ImageUrl" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                        <div class="media-body">
                            <h6>@item.FullName<small> - <i>@item.CreatedDate.ToShortDateString()</i></small></h6>
                            <div class="text-primary mb-2">
                                @for (var i = 1; i <= 5; i++)
                                {
                                    if (i <= item.Rating)
                                    {
                                        <i class="fas fa-star"></i> <!-- Dolgun yıldız -->
                                    }
                                    else
                                    {
                                        <i class="far fa-star"></i> <!-- Boş yıldız -->
                                    }
                                }
                            </div>

                            <p>@item.CommentDetail</p>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="col-md-6">
            <div class="product__details__tab__desc">
                <h4>Leave a review</h4>
                <small>Your email address will not be published. Required fields are marked *</small>
                <div class="d-flex my-3">
                    <p class="mb-0 mr-2">Your Rating * :</p>
                    <div class="text-primary">
                        <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                        <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
                    </div>
                </div>
                <form>
                    <div class="form-group">
                        <label for="message">Your Review *</label>
                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Your Name *</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email *</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group mb-0">
                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




@* <div class="tab-pane fade" id="tab-pane-3">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-4">1 review for "Product Name"</h4>
            <div class="media mb-4">
                <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                <div class="media-body">
                    <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                    <div class="text-primary mb-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="mb-4">Leave a review</h4>
            <small>Your email address will not be published. Required fields are marked *</small>
            <div class="d-flex my-3">
                <p class="mb-0 mr-2">Your Rating * :</p>
                <div class="text-primary">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <label for="message">Your Review *</label>
                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Your Name *</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Your Email *</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group mb-0">
                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                </div>
            </form>
        </div>
    </div>
</div> *@