@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>

    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    <script src="~/ogani-master/js/jquery-3.3.1.min.js"></script>
    <script src="~/ogani-master/js/bootstrap.min.js"></script>
    <script src="~/ogani-master/js/jquery.nice-select.min.js"></script>
    <script src="~/ogani-master/js/jquery-ui.min.js"></script>
    <script src="~/ogani-master/js/jquery.slicknav.js"></script>
    <script src="~/ogani-master/js/mixitup.min.js"></script>
    <script src="~/ogani-master/js/owl.carousel.min.js"></script>
    <script src="~/ogani-master/js/main.js"></script>
</body>

</html>

