@model UpdateProductDetailDto

<div class="tab-pane active" id="tabs-1" role="tabpanel">
    <div class="product__details__tab__desc">
        <h6>Products Infomation</h6>
        <p>@Model.ProductDescription</p>
    </div>
</div>