<div class="col-lg-6 col-md-6">
    <div class="product__details__pic">
        <div class="product__details__pic__item">
            <img class="product__details__pic__item--large"
                 src="~/ogani-master/img/product/details/product-details-1.jpg" alt="">
        </div>
        <div class="product__details__pic__slider owl-carousel">
            <img data-imgbigurl="@Url.Content("~/ogani-master/img/product/details/product-details-2.jpg")"
                 src="~/ogani-master/img/product/details/thumb-1.jpg" alt="">

            <img data-imgbigurl="@Url.Content("~/ogani-master/img/product/details/product-details-3.jpg")"
                 src="~/ogani-master/img/product/details/thumb-2.jpg" alt="">
            <img data-imgbigurl="@Url.Content("~/ogani-master/img/product/details/product-details-5.jpg")"
                 src="~/ogani-master/img/product/details/thumb-3.jpg" alt="">
            <img data-imgbigurl="@Url.Content("~/ogani-master/img/product/details/product-details-4.jpg")"
                 src="~/ogani-master/img/product/details/thumb-4.jpg" alt="">
        </div>
    </div>
</div>