<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="d-flex flex-column h-100">
                    <div class="flex-fill d-flex flex-column justify-content-center align-items-center mb-3"
                         style="background-image: url('@Url.Content("https://media.cnn.com/api/v1/images/stellar/prod/running-shoes3.jpg?c=16x9")'); background-size: cover; background-position: center;">

                        <div class="d-flex flex-column justify-content-end h-100">
                            <button class="btn btn-warning mb-3">
                                Get 15% Discpunt Offer
                            </button>
                        </div>
                    </div>
                    <div class="flex-fill d-flex flex-column justify-content-center align-items-center"
                         style="background-image: url('@Url.Content("https://i.insider.com/5dfd2236954bda40fb443ec5?width=700")'); background-size: cover; background-position: center;">
                        <div class="d-flex flex-column justify-content-end h-100">
                            <button class="btn btn-warning mb-3">
                                Get an Adventage
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-9">
                <div class="hero__item set-bg" data-setbg="@Url.Content("https://media.istockphoto.com/id/1370742180/tr/foto%C4%9Fraf/shot-of-an-attractive-young-woman-using-her-cellphone-outside-while-shopping-in-the-city.jpg?s=612x612&w=0&k=20&c=tlOZvUOmj0buPn21GzdWI8BjcVn8BoPy-gQfsSmQ5Ck=")">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Safe & <br />Cheap</h2>
                        <p>Online Shopping for our Tastemakers</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>